form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
    align-items: center;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 300px;
}

input:focus {
    outline: none;
    border: 1px solid #323131;
    box-shadow: 0 0 0px 1px #323131;
}

form div {
    display: flex;
    flex-direction: column;
}

.cep-div{
    margin-top: 20px;
}

button{
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    transition-delay: 0.2s;
}

button:hover{
    background-color: #323131;
    color: #fff;
}