<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link th:href="@{/css/global.css}" rel="stylesheet" />
  <link th:href="@{/css/home.css}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/home.css">
  <script th:src="@{/js/utils_cadastro.js}" defer></script>
  <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
  <main>
    <header>
      <img th:src="@{/img/ropz-logo-gray.png}" alt="logo" class="logo">
      <ul>
        <li><a href="#"  class="lowkey-btn" th:href="@{/logout}" th:text="#{href.logout }"></a></li>
      </ul>
    </header>
    <div>
      <section>
        <div class="div-localizacao">
          <h3>
            <span class="material-icons" style="font-size: 18px; vertical-align: middle;">location_on</span>
            <span th:text="${cidade}"></span>,<span th:text="${estado}"></span>
          </h3>
          <p> Lat. <span th:text="${lat}"></span> Long. <span th:text="${long}"></span></p>
        </div>

        <div class="div-alerta-prompt" th:if="${relatorioTempForecast != null}" th:object="${relatorioTempForecast}">
          <div>
            <h3 th:text="#{h3.alert.prompt}" style="width: 320px"></h3>
              <div class="container-weather-line" >
                
                <span th:text="*{#temporals.format(temperatura.dataHora, 'dd/MM/yyyy HH:mm')}"></span> -
                <span th:text="*{#numbers.formatDecimal(temperatura.temperaturaMaxima, 1, 0)} + '°C'"></span>
                <img class="open-weather-icon"
                     th:if="*{temperatura.icon} != null"
                     th:src="*{temperatura.icon}"
                     alt="ícone do tempo" />
                <span th:text="*{classificacao.getDescricao()}"></span>
              </div>
          </div>

          <div>
            <h3 th:text="#{h3.alert.prompt.ia}"></h3>
            <p th:text="*{mensagem}"></p>
          </div>

        </div>

        <div class="div-alerta-prompt" th:if="${relatorioTempForecast == null}" >
          <div class="div-erro-msgs">
            <h3 class="h3-error-msg" th:text="#{error.alert.prompt}"> </h3>
            <p th:text="#{error.temp.recomend}"></p>
          </div>
        </div>

        <div class="div-info">
          <h3 th:text="#{h3.div.info}"></h3>

          <form action="/usuario/update" method="get" th:object="${usuarioRequestDTO}">
            <label for="nome" th:text="#{label.name}"></label>
            <input type="text" id="nome" th:field="*{nome}" required><br>

            <label for="email" th:text="#{label.email}"></label>
            <input type="email" id="email" th:field="*{email}" required><br>

            <label for="telefone" th:text="#{label.tel}"></label>
            <input type="text" id="telefone" required th:field="*{telefone}" maxlength="15" oninput="formatarTelefone(this)"><br>

            <label for="senha" th:text="#{label.password}"></label>
            <input type="text" id="senha" th:field="*{senha}" required><br>

            <label for="cep" th:text="#{label.codigo.postal}"></label>
            <input type="text" id="cep"  required maxlength="9" th:field="*{cep}" oninput="formatarCep(this)"><br>

            <button class="btn-update-info" type="submit" th:text="#{btn.update}"></button>
            <a class="lowkey-btn" th:href="@{/usuario/delete}" th:text="#{href.delete}"></a>
          </form>

        </div>

      </section>
      <aside>

        <div class="div-aside-clima" th:if="${relatorioTempAtual != null}" th:object="${relatorioTempAtual}">
          <section class="temp-atual">
            <div class="div-weather-info">
              <img class="open-weather-icon"
                   th:src="*{temperatura.icon}"
                   alt="ícone do tempo" />

              <h2 th:text="*{temperatura.getDescricao()}" style="text-transform: capitalize"></h2>
            </div>

            <div class="div-celsius-value">
                <h1 th:text="*{#numbers.formatDecimal(temperatura.temperatura, 1 , 0)} + '°C'"></h1>
            </div>

          </section>
          <ul>

            <li>
              <p th:text="#{stats.temperature.max}"></p>
              <span th:text="*{#numbers.formatDecimal(temperatura.temperaturaMaxima, 1, 0)} + '°C'"></span>
            </li>
            <li>
              <p th:text="#{stats.temperature.min}">Min</p>
              <span th:text="*{#numbers.formatDecimal(temperatura.temperaturaMinima, 1, 0)} + '°C'"></span>
            </li>
            <li>
              <p th:text="#{stats.temperature.sens}">Sensação</p>
              <span th:text="*{#numbers.formatDecimal(temperatura.sensacaoTermica, 1, 0)} + '°C'"></span>
            </li>
            <li>
              <p th:text="#{stats.temperature.humid}">Umidade</p>
              <span th:text="*{temperatura.umidade} + ' m/s'"></span>
            </li>
          </ul>

          <section class="section-status-actual-weather">
            <div class="status-risco">
              <h3 th:text="#{h3.actual.weather}"></h3>
              <p id="risco-texto" th:text="*{classificacao.getDescricao()}"></p>
            </div>

            <div class="ia-precaucoes-mesage">
              <h3 th:text="#{h3.alert.prompt.ia}">Precauções</h3>
              <p id="mensagem-texto" th:text="*{mensagem}"></p>
            </div>

          </section>

        </div>

        <div class="div-aside-clima" th:if="${relatorioTempAtual == null}" th:object="${relatorioTempAtual}">
          <div class="div-erro-msgs">
            <h3 class="h3-error-msg" th:text="#{error.current.temp}"> </h3>
            <p th:text="#{error.temp.recomend}"></p>
          </div>
        </div>



        <div class="div-history">
          <ul>
            <li class="container-weather-line" th:if="${historicoTemperatura != null}" th:each="historico : ${historicoTemperatura}">
              <span th:text="${#temporals.format(historico.temperatura.dataHora, 'dd/MM/yyyy HH:mm:ss')}"></span> -
              <span th:text="${#numbers.formatDecimal(historico.temperatura.temperaturaMaxima, 1, 0)} + '°C'"></span>
              <img class="open-weather-icon"
                   th:if="${historico.temperatura.icon} != null"
                   th:src="${historico.temperatura.icon}"
                   alt="ícone do tempo" />
              <span th:text="${historico.classificacao.getDescricao()}"></span>
            </li>

            <div class="div-erro-msgs" th:if="${historicoTemperatura == null}">
              <h3 class="h3-error-msg" th:text="#{error.current.temp.history}"> </h3>
              <p th:text="#{error.temp.recomend}"></p>
            </div>

          </ul>

        </div>

      </aside>
    </div>
  </main>
  <footer class="footer-cls">
      <a href="?lang=pt_BR" class="link-href">BR</a>
      <a href="?lang=en" class="link-href">EN</a>
  </footer>
</body>
</html>