<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link th:href="@{/css/global.css}" rel="stylesheet" />
  <link th:href="@{/css/cadastro.css}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
  <form method="post" th:action="@{/login}">

    <section>
      <img th:src="@{/img/ropz-logo-gray.png}" alt="logo" class="logo">
    </section>

    <div>
      <label for="email" th:text="#{label.email}"></label>
      <input type="email" id="email" name="username" placeholder="calor@gmail.com">
    </div>

    <div>
      <label for="senha" th:text="#{label.password}">Senha:</label>
      <input type="password" id="senha" name="password" th:placeholder="#{placeholder.password}">
    </div>

    <button type="submit" th:text="#{btn.submit}"></button>
    <a th:href="@{usuario/}" class="link-href" th:text="#{href.cadaster}"></a>
    <div class="internationalization-menu">
      <a href="/login?lang=pt_BR" class="link-href">BR</a> <!-- DISCLAIMER PROFESSOR: Colocar o endpoint antes do ? evita problema 500 de GET -->
      <a href="/login?lang=en" class="link-href">EN</a> <!-- DISCLAIMER PROFESSOR: Colocar o endpoint antes do ? evita problema 500 de GET -->
    </div>
  </form>

</body>
</html>